@import "../../../constants.scss";

.clear {
  padding: 0.5rem;
  font-family: $body-font;
  border: none;
  margin-left: 1rem;
  border-radius: 5px;
  background-color: $light;
  color: $dark;
  cursor: pointer;

  &:hover {
    box-shadow: 4px 4px 0 1px $light-shadow;
  }
}
