@import "../../constants.scss";

.upload {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h3 {
    font-family: $header-font;
    margin-left: 3.2rem;
  }
  ol {
    font-family: $body-font;
  }

  li {
    padding: 1rem;
  }
}

.upload.hidden {
  display: none;
}
