@import "../../constants.scss";

.uploadView {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .content {
    max-width: 25vw;
    line-height: 2rem;
    margin: 0 5rem;
  }

  h3 {
    font-family: $header-font;
    margin-top: 1rem;
  }

  span,
  div {
    font-family: $body-font;
  }

  pre {
    text-align: left;
    background-color: $light-theme;
    line-height: 1rem;
    padding: 0 1rem;
    box-sizing: border-box;
  }

  .postPre {
    margin: 1rem 0;
  }
}

.uploadView.hidden {
  display: none;
}
